.button-add {
  width: 216px;
  height: 47px;
  display: block;
  margin: 0 auto 16px;
  box-sizing: border-box;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 12px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button-remove {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  color: #f5e5e7;
  width: 184px;
  height: 23px;
  background: none;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
